version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: netology_web
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./reference/netology_pd_diplom:/app
    command: python manage.py runserver 0.0.0.0:8000
