version: "3.9"

services:
  web:
    build:
      context: ..
      dockerfile: Netology_final_project/docker/prod.Dockerfile
    env_file:
      - ../Netology_final_project/env/.env.prod
    ports:
      - "8000:8000"
    depends_on:
      - redis

  celery:
    build:
      context: ..
      dockerfile: Netology_final_project/docker/prod.Dockerfile
    env_file:
      - ../Netology_final_project/env/.env.prod
    command: ["/celery_entrypoint.sh"]
    depends_on:
      - redis

  celery_beat:
    build:
      context: ..
      dockerfile: Netology_final_project/docker/prod.Dockerfile
    env_file:
      - ../Netology_final_project/env/.env.prod
    command: ["celery", "-A", "backend.tasks.celery_app", "beat", "--loglevel=INFO"]
    depends_on:
      - redis

  redis:
    image: redis:6
